<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rented motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<div class="container">
    <table>
        <tr>
            <th>RentID</th>
            <th>MotorhomeID</th>
            <th>customerID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>start of rent</th>
            <th>end of rent</th>

            <th></th>
            <th></th>
            <th></th>
        </tr>

       <!-- <tr th:each="entry, rentId : ${motorhomes}" th:with="motorhome=${entry.value}"> -->
        <tr th:each="motorhome : ${motorhomes}">
            <td th:text="${motorhome.rentId}"></td>
            <td th:text="${motorhome.motorhomeId}"></td>
            <td th:text="${motorhome.customer.id}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.startDate}"></td>
            <td th:text="${motorhome.endDate}"></td>
            <td>
                <form th:action="@{/activeMotorhome/return/__${motorhome.rentId}__}" method="post">
                    <input type="hidden" name="motorhomeId" th:value="${motorhome.motorhomeId}">
                <input class="btn" type="submit" name="submit" id="submit" value="Return">
                </form>
            </td>
            <td>
                <a th:href="@{/activeMotorhome/edit/__${motorhome.motorhomeId}__}"><button class="btn-del btn">Edit</button></a>
            </td>
            <td>
                <form th:action="@{/activeMotorhome/cancel}" method="post">
                    <input type="hidden" name="rentId" id="rentId" th:value="${motorhome.rentId}">
                    <input type="hidden" name="motorhomeId" id="motorhomeId" th:value="${motorhome.motorhomeId}">

                    <input type="submit" name="submit" id="submit" value="Cancel" class="btn">
                </form>
            </td>
        </tr>
    </table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>