<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Return motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<div class="container">
    <h3>Selected motorhome to return</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Times used</th>
            <th>Km driven</th>
            <th>Type id</th>
        </tr>

        <tr>
            <td th:text="${motorhome.id}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.timesUsed}"></td>
            <td th:text="${motorhome.kmDriven}"></td>
            <td th:text="${motorhome.typeId}"></td>
    </table>

    <form th:action="@{/activeMotorhome/return/price/__${motorhome.id}__}" method="post">

        <h3>Fill return information</h3>

        <h4>Was the tank full?</h4>
        <label style="{float:left}" for="tankFull">Tank full:</label>
        <input style="{float: left}" type="checkbox" name="tankFull" id="tankFull">

        <h4>How many km has the moterhome driven:</h4>
        <label for="kmDriven">Current km on km counter:</label>
        <input name="kmDriven" id="kmDriven" type="number" required>

        <h4>Fill in if motorhome was dropped outside office</h4>
        <labal for="kmDropDriven">Total km to dropoff</labal>'
        <input type="number" name="kmDropDriven" id="kmDropDriven">

        <h4>Was there any damage on the motorhome?</h4>
        <label for="damage"></label>
        <input name="damage" id="damage" type="text">


        <input id="submit" name="submit" value="confirm data" type="submit" class="btn">
    </form>
</div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>