<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new customer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<!--NOTE: AUTHORS OF THIS CLASS: JONAS-->
<body>
<div th:insert="fragments/menu :: menu"></div>
<div class="container">

    <h1>New information</h1>
    <form action="/customer/created" method="post">
        <p>Name:</p>
        <input type="text" name="cName" id="cName" required>
        <p>Number:</p>
        <input type="number" name="Number" id="number" min="0" required>
        <br>
        <input class="fill-btn-input btn" type="submit" name="submit form via POST" value="Create">
    </form>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>

</html>
