<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add a brand new motorhome</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div th:insert="fragments/menu :: menu"></div>

<div class="container">
    <form action="#" th:action="@{/createMotorhome/add}" th:object="${motorhome}" method="post">
        <table>
            <tr>
                <th>Brand name:</th>
                <td><input type="text" th:field="*{brand}"></td>
                <td th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">brand Error</td>
            </tr>

            <tr>
                <th>Model name:</th>
                <td><input type="text" th:field="*{model}"></td>
                <td th:if="${#fields.hasErrors('model')}" th:errors="*{model}">model Error</td>
            </tr>

            <tr>
                <th>Times used:</th>
                <td><input type="number" th:field="*{timesUsed}"></td>
                <td th:if="${#fields.hasErrors('timesUsed')}" th:errors="*{timesUsed}">timesUsed error</td>
            </tr>

            <tr>
                <th>km driven:</th>
                <td><input type="number" th:field="*{kmDriven}"></td>
                <td th:if="${#fields.hasErrors('kmDriven')}" th:errors="*{kmDriven}">kmDriven error</td>
            </tr>

            <tr>
                <th>type ID:</th>
                <td><input type="number" th:field="*{typeId}"></td>
                <td th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}">typeId error</td>
            </tr>

            <tr>





            </tr>

        </table>
        <br>
        <input class="fill-btn-input btn" type="submit" name="submit" id="submit">
    </form>
</div>
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>